## Phase 1.06 - 1.07

# SQL and Relational Databases

## What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. 
- A database management system supports the development, administration and use of database platforms.


### What is a Relational Database? 
- A *relational database management system* (**RDBMS**) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic **RDBMS** functions are related to *create, read, update and delete* operations, collectively known as **CRUD**.

### What is SQL?

- **SQL** (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a **RDBMS** (relational database management system).
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

### Schema
A relational database schema helps you to organize and understand the structure of a database by showing how all of the tables are related to each other.
<img src='https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/employees-schema.png?raw=1'>

### Relationships

The logical association among entities is called relationship. Relationships are mapped between entities in various ways. 

**Relationship Mappings**

- one to one
- one to many
- many to many

### One to One Relationship
<img src="https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/one-to-one.png?raw=1" >

### One to Many Relationship

This is the most commonly used type of relationship. Consider an e-commerce website, with the following:

Customers can make many orders.
Orders can contain many items.
Items can have descriptions in many languages.
<img src="https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/one-to-many.png?raw=1" >

### Many to Many Relationship

In some cases, you may need multiple instances on both sides of the relationship. For example, each order can contain multiple items. And each item can also be in multiple orders.
<img src="https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/many-to-many.png?raw=1" >

***For these relationships, we need to create an extra table to track the relationships:***

<img src="https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/many-to-many-junction.png?raw=1" >

### SQL Data Types

SQL data types can be broadly divided into following categories.

- Numeric data types such as int, tinyint, bigint, float, real etc.
- Date and Time data types such as Date, Time, Datetime etc.
- Character and String data types such as char, varchar, text etc.
- Unicode character string data types, for example nchar, nvarchar, ntext etc.
- Binary data types such as binary, varbinary etc.
- Miscellaneous data types – clob, blob, xml, cursor, table etc.

<img src="https://github.com/yishuen/studygroups-070620pt/blob/master/mod-1/images/data-type-mapping.png?raw=1" >

#### SQLite Data Types

Any column declared in an SQLite database is assigned a type affinity depending on its declared data type. Here the list of type affinities in SQLite:

- TEXT
- NUMERIC
- INTEGER
- REAL
- BLOB

## Using SQL in Python


We're going to play around with this Pokemon database!

<img src='https://raw.githubusercontent.com/yishuen/studygroups-070620pt/master/mod-1/images/pokemon_db.png'>

In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Connecting to the database.
conn = sqlite3.connect('data/pokemon.db')
conn

### Parts of a SQL Query
* `SELECT ... FROM ...`: Which columns from which table
* `WHERE`: Conditions to filter your query by
* `JOIN`: Put tables together
* `GROUP BY`: Group and aggregate data
* `HAVING`: Filtering after a `GROUP BY`
* `ORDER BY`: How to sort the table
* `LIMIT`: How many rows to query

#### Q1

In [ ]:
# Select all pokemon from the pokemon table.


# Show results in a pandas databrame.

#### Q2

In [ ]:
# Select all the rows from pokemon_types where the type_id is 3.

#### Q3

In [ ]:
# Select the rows from pokemon_types where the associated type is "water".

#### Q4

In [ ]:
# Find the average weight for each type. 
### Order the results from highest weight to lowest weight. 
### Display the type name next to the average weight.

#### Q5

In [ ]:
# Find the names and ids the pokemon that have more than 1 type.

#### Q6

In [ ]:
# Find the id of the type that has the most pokemon. 
### Display type_id next to the number of pokemon having that type.