## Phase 3.28
# Bayes Classification

## Objectives
- Revisit <a href='#bayes'>Bayes Theorem</a> and conceptualize building a model.
- Understand the data processing method: <a href='#bow'>Bag of Words</a>.
- Implement <a href='#nb-clf'>Naive Bayes Classifier</a> in scikit-learn.
    - Compare Naive Bayes with <a href='#logreg'>another classification model</a>.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, plot_confusion_matrix
from sklearn.datasets import fetch_20newsgroups

<a id='bayes'></a>
# Bayes Classification: Introduction

Naive Bayes algorithms extend Bayes' formula to multiple variables by assuming that these features are independent of one another, which may not be met, (hence its naivety) it can nonetheless provide strong results in scenarios with clean and well normalized datasets. 

This then allows you to estimate an overall probability by multiplying the conditional probabilities for each of the independent features.

## Recap: Bayes Theorem

$$ \Large P(A|B) = \frac{P(B|A)\bullet P(A)}{P(B)}$$

Expanding to multiple features, the multinomial Bayes' formula is:  

$$ \Large P(y|x_1, x_2, ..., x_n) = \frac{P(y)\prod_{i}^{n}P(x_i|y)}{P(x_1, x_2, ..., x_n)}$$

---
<a id='bow'></a>
# How can we represent a text as a DataFrame?

 $$ P(\text{Document | Word}) = \dfrac{P(\text{Word | Document})P(\text{Document})}{P(\text{Word})}$$  

## Bag of Words

A **Bag of Words** is a frequency-mapping for a given text or document.

For example:

> **Sentence**: `'My favorite food is pizza. My brother likes pizza too.'`
> 
> **Bag of Words**: `{'My': 2, 'favorite': 1, 'food': 1, 'is': 1, 'pizza': 2, 'brother': 1, 'likes': 1, 'too': 1}`

---
## Transforming Text Data

***Original Data***
> **Sentence 1**: `'My favorite food is pizza. My brother likes pizza too.'`
> 
> **Sentence 2**: `'My mom likes baseball. My dad likes painting.'`
>

***Processing***
> **BoW 1**: `{'My': 2, 'favorite': 1, 'food': 1, 'is': 1, 'pizza': 2, 'brother': 1, 'likes': 1, 'too': 1}`
>
> **BoW 2**: `{'My': 2, 'mom': 1, 'likes': 2, 'baseball': 1, 'dad': 1, 'painting': 1}`

***DataFrame Representation***
> | mom | favorite | brother | pizza | painting | too | my | is | dad | food | baseball | likes |
> | --- | ---      | ---     | ---   | ---      | --- | -- | -- | --- | ---  | ---      | ---   |
> |   0 |   1      |   1     |   2   |   0      |   1 |  2 |  1 |   0 |   1  |   0      |   1   |
> |   1 |   0      |   0     |   0   |   1      |   0 |  2 |  0 |   1 |   0  |   1      |   2   |

### PRACTICE!
#### Create BoW dictionaries for each sentence.

In [2]:
# Coding a Bag of Words
s1 = 'My favorite food is pizza. My brother likes pizza too.'
s2 = 'My mom likes baseball. My dad likes painting.'

In [8]:
# John
s1 = 'My favorite food is pizza. My brother likes pizza too.'

s1_split = s1.replace('.', '').split()
count = {}
for word in s1_split:
    if word in count:
        count[word] += 1
    else:
        count[word] = 1
count

{'My': 2,
 'favorite': 1,
 'food': 1,
 'is': 1,
 'pizza': 2,
 'brother': 1,
 'likes': 1,
 'too': 1}

In [5]:
# Vi
dict = {}

for word in s1.split():
    print(word)

My
favorite
food
is
pizza.
My
brother
likes
pizza
too.

In [6]:
s1.split()

['My',
 'favorite',
 'food',
 'is',
 'pizza.',
 'My',
 'brother',
 'likes',
 'pizza',
 'too.']

In [ ]:
# Huseyin
def f(s):
    a={}
    b = s.split()
    count=0
    for i in b:
        pass # Not done yet

In [10]:
bow1 = {}
# Code me!!
for word in s1.replace('.', '').split():
    bow1[word] = bow1.get(word, 0) + 1
bow1

{'My': 2,
 'favorite': 1,
 'food': 1,
 'is': 1,
 'pizza': 2,
 'brother': 1,
 'likes': 1,
 'too': 1}

In [11]:
bow2 = {}
# Code me!!
for word in s2.replace('.', '').split():
    bow2[word] = bow2.get(word, 0) + 1
bow2

{'My': 2, 'mom': 1, 'likes': 2, 'baseball': 1, 'dad': 1, 'painting': 1}

In [16]:
d = {'a': 1, 'b': 2, 'c': 3}
d.get('x', 'NOTHING HERE!!!!')

'NOTHING HERE!!!!'

In [17]:
d['x']

KeyError: 'x'

In [18]:
bow1

{'My': 2,
 'favorite': 1,
 'food': 1,
 'is': 1,
 'pizza': 2,
 'brother': 1,
 'likes': 1,
 'too': 1}

In [19]:
bow2

{'My': 2, 'mom': 1, 'likes': 2, 'baseball': 1, 'dad': 1, 'painting': 1}

In [20]:
pd.DataFrame([bow1, bow2]).fillna(0).astype(int)

,My,favorite,food,is,pizza,brother,likes,too,mom,baseball,dad,painting
0,2,1,1,1,2,1,1,1,0,0,0,0
1,2,0,0,0,0,0,2,0,1,1,1,1

<a id='nb-clf'></a>
# Classifying News
## Implementing Bayes Classifier in Scikit-Learn

**There are 3 available classifiers for Naive Bayes in sklearn.** 

1. Gaussian: Assumes that continuous features follow a normal distribution.

2. Bernoulli: The binomial model is useful if your features are binary.

3. Multinomial: It is useful if your features are discrete.

In [21]:
# Load data.
news_data = fetch_20newsgroups(
    subset='all',
    categories=['rec.sport.baseball', 'talk.politics.misc']
    )
news_data.keys()

dict_keys(['data', 'filenames', 'target_names', 'target', 'DESCR'])

In [22]:
# Create a dataframe from the loaded data.
df = pd.DataFrame()
df['data'] = news_data['data']
df['target'] = news_data['target']
df.head()

                                                data  target
0  From: paula@koufax.cv.hp.com (Paul Andresen)\n...       0
1  From: garrett@Ingres.COM \nSubject: Re: Limiti...       1
2  From: djs9683@ritvax.isc.rit.edu\nSubject: Re:...       0
3  From: nickn@eskimo.com (Nick Nussbaum)\nSubjec...       1
4  From: jerry@sheldev.shel.isc-br.com (Gerald La...       0

In [23]:
# Look at a row of the data.
df.iloc[0]['data']

'From: paula@koufax.cv.hp.com (Paul Andresen)\nSubject: Re: Let it be Known\nNntp-Posting-Host: koufax.cv.hp.com\nOrganization: Hewlett-Packard Company, Corvallis, Oregon USA\nLines: 15\n\nIn article <93104.233239ISSBTL@BYUVM.BITNET>, <ISSBTL@BYUVM.BITNET> writes:\n|> I would like to make everyone aware that in winning the NL West the Atlanta\n|> Braves did not lead wire-to-wire.  Through games of 4/14/93 the Houston\n|> Astros are percentage points ahead of the "unbeatable" Braves.\n\nAnd they deserve to be, if for no other reason than salvaging a little of the\nhonor of the NL West. The supposed strongest division in baseball lost 6 of 7\nto the East yesterday, with only the Astros prevailing.\n--------------------------------------------------------------------------------\n           We will stretch no farm animal beyond its natural length\n\n  paula@koufax.cv.hp.com   Paul Andresen  Hewlett-Packard  (503)-750-3511\n\n    home: 3006 NW McKinley    Corvallis, OR 97330       (503)-752-8424\n                            A SABR member since 1979\n'

In [24]:
df['target'].value_counts(normalize=True)

0    0.561899
1    0.438101
Name: target, dtype: float64

In [25]:
# Perform train test split (random_state=2021)
X_train, X_test, y_train, y_test = train_test_split(
    df['data'],
    df['target'])

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1326,), (443,), (1326,), (443,))

In [26]:
# 'The' != 'the'
X_train = X_train.apply(lambda x: x.lower())
X_test = X_test.apply(lambda x: x.lower())

In [27]:
X_train[0]

'from: paula@koufax.cv.hp.com (paul andresen)\nsubject: re: let it be known\nnntp-posting-host: koufax.cv.hp.com\norganization: hewlett-packard company, corvallis, oregon usa\nlines: 15\n\nin article <93104.233239issbtl@byuvm.bitnet>, <issbtl@byuvm.bitnet> writes:\n|> i would like to make everyone aware that in winning the nl west the atlanta\n|> braves did not lead wire-to-wire.  through games of 4/14/93 the houston\n|> astros are percentage points ahead of the "unbeatable" braves.\n\nand they deserve to be, if for no other reason than salvaging a little of the\nhonor of the nl west. the supposed strongest division in baseball lost 6 of 7\nto the east yesterday, with only the astros prevailing.\n--------------------------------------------------------------------------------\n           we will stretch no farm animal beyond its natural length\n\n  paula@koufax.cv.hp.com   paul andresen  hewlett-packard  (503)-750-3511\n\n    home: 3006 nw mckinley    corvallis, or 97330       (503)-752-8424\n                            a sabr member since 1979\n'

In [28]:
# Use CountVectorizer to process text.
count_vec = CountVectorizer()

X_train_processed = count_vec.fit_transform(X_train)
X_test_processed = count_vec.transform(X_test)

In [29]:
X_train_processed

<1326x23135 sparse matrix of type '<class 'numpy.int64'>'
	with 226455 stored elements in Compressed Sparse Row format>

In [30]:
count_vec.get_feature_names()

['00',
 '000',
 '000007',
 '0000ahc',
 '000k',
 '000th',
 '001',
 '0010',
 '001116',
 '001211',
 '001338',
 '001815',
 '002',
 '002251w',
 '002302',
 '002339',
 '003',
 '003015',
 '003848',
 '004224',
 '005',
 '005314',
 '005634',
 '005756',
 '0059',
 '006',
 '0062',
 '007',
 '0084',
 '0096b0f0',
 '00bjgood',
 '00cgbabbitt',
 '00cmmiller',
 '00ecgillespi',
 '00ecgillespie',
 '00mbstultz',
 '00pm',
 '00pmlemen',
 '00x',
 '01',
 '0100',
 '010423',
 '010657',
 '010745',
 '010908',
 '011042',
 '0112',
 '0114',
 '011653',
 '012139',
 '012344',
 '013',
 '013559',
 '013651',
 '013653',
 '014',
 '015',
 '015442',
 '015908',
 '016',
 '0169',
 '017',
 '01810',
 '019',
 '01apr93',
 '02',
 '020',
 '0205',
 '020832',
 '02086551',
 '021',
 '021021',
 '02115',
 '021154',
 '02139',
 '02141',
 '02172',
 '022',
 '02215',
 '022222',
 '0223',
 '022425',
 '023',
 '023116',
 '023211',
 '024',
 '024222',
 '024646',
 '025',
 '025018',
 '025027',
 '025331',
 '025636',
 '027',
 '029',
 '03',
 '030234',
 '030412',
 '030703',
 '030713',
 '030934',
 '031404',
 '031616',
 '031648',
 '032345',
 '032427',
 '032554',
 '032616mbs110',
 '032930',
 '033050',
 '033313',
 '033504',
 '034558',
 '035220',
 '035406',
 '035607',
 '0357',
 '038',
 '039',
 '04',
 '040',
 '0400',
 '041',
 '04131972',
 '041620',
 '042',
 '043',
 '0430',
 '0434',
 '043704',
 '043935',
 '044',
 '044201',
 '044248',
 '0456',
 '045612',
 '045651',
 '047',
 '05',
 '050',
 '050127',
 '050311',
 '051540',
 '052',
 '052025',
 '052552',
 '052741',
 '053',
 '0533',
 '053553',
 '054843',
 '055109',
 '055654',
 '056',
 '059',
 '05pm',
 '06',
 '060',
 '0600',
 '060493114752',
 '060540',
 '061102',
 '061709',
 '062222',
 '062907',
 '063',
 '064',
 '064804',
 '065',
 '065059',
 '06520',
 '067',
 '06762',
 '0688',
 '069',
 '07',
 '070',
 '0700',
 '071',
 '071021',
 '072',
 '073051',
 '073457ripbc',
 '073813',
 '075',
 '077',
 '08',
 '081214',
 '083',
 '083029',
 '083449',
 '0845',
 '08520',
 '085508',
 '085907',
 '087',
 '088',
 '08903',
 '09',
 '090638',
 '090836',
 '091',
 '0930',
 '093231',
 '093826',
 '093952',
 '093957',
 '094001',
 '095',
 '099',
 '0b12',
 '0l2',
 '10',
 '100',
 '1000',
 '10010717',
 '10018',
 '1002',
 '1003',
 '100921rk0vsanu',
 '10098',
 '100k',
 '100th',
 '101',
 '101636',
 '10176',
 '102',
 '10219',
 '102200',
 '10274',
 '10280',
 '102857',
 '103',
 '1031',
 '10395',
 '104',
 '1040',
 '104122',
 '10416',
 '104744',
 '104856',
 '105',
 '1054',
 '105514',
 '1058',
 '10598',
 '106',
 '1060',
 '10610',
 '1064',
 '107',
 '10700',
 '108',
 '108109',
 '1088',
 '109',
 '10946',
 '1098',
 '10th',
 '11',
 '110',
 '1101',
 '1102',
 '1105',
 '11050',
 '111',
 '111054',
 '1111',
 '1115681383',
 '111713',
 '11181',
 '11197',
 '112',
 '11229',
 '1125',
 '113',
 '11319',
 '11322',
 '11331',
 '1135',
 '11353',
 '113567',
 '11395',
 '114',
 '1142',
 '1143',
 '11467',
 '1147',
 '11473',
 '114736',
 '1149',
 '114qs7',
 '115',
 '115219ior',
 '115298',
 '115313',
 '115993',
 '116',
 '116288',
 '1164',
 '11663',
 '11664',
 '116hr',
 '116tjt',
 '117',
 '11779',
 '118',
 '118466',
 '119',
 '11973',
 '11974',
 '119hvq',
 '11am',
 '11hfdf',
 '11hr',
 '11moqf',
 '11th',
 '12',
 '120',
 '1200',
 '120044',
 '120399',
 '120525',
 '12056',
 '120665',
 '1208',
 '120854',
 '121',
 '1210',
 '121055',
 '1213',
 '121692',
 '121706',
 '121720',
 '121723',
 '12176',
 '12180',
 '121823',
 '122',
 '122543',
 '122649',
 '122758',
 '123',
 '123208',
 '1234',
 '123404',
 '12353',
 '12367',
 '1238',
 '123803',
 '123904',
 '124',
 '12401',
 '124358',
 '12436',
 '12442',
 '124526',
 '124746',
 '124824',
 '125',
 '1251',
 '12516',
 '125205',
 '125526',
 '12578',
 '125825',
 '1259',
 '12598',
 '126',
 '127',
 '12718',
 '12787',
 '12799',
 '128',
 '12805',
 '129',
 '1298',
 '12kd',
 '12th',
 '13',
 '130',
 '13012',
 '13017',
 '13020',
 '130430',
 '13060',
 '130652',
 '130659',
 '131',
 '131041',
 '131452',
 '131508',
 '131615',
 '132',
 '132013',
 '1323',
 '13247',
 '132700',
 '132741',
 '133',
 '13322',
 '133620',
 '133703',
 '134',
 '13444',
 '135',
 '13512',
 '135139',
 '135227',
 '13555',
 '13557',
 '1358',
 '13581',
 '135819',
 '13586',
 '136',
 '13633',
 '13664',
 '1367',
 '13693',
 '137',
 '138',
 '1381',
 '139',
 '13901',
 '13966',
 '13th',
 '14',
 '140',
 '1400',
 '14049',
 '140493165729',
 '141',
 '14108',
 '141455',
 '141933',
 '141s',
 '142',
 '142032',
 '14228',
 '14229',
 '142325',
 '14257',
 '142816',
 '143',
 '1430',
 '14305',
 '14321',
 '143211',
 '143224',
 '143320',
 '14347',
 '14349',
 '144',
 '14400',
 '144240',
 '144327',
 '1444',
 '1446',
 '14473',
 '145',
 '14521',
 '14524',
 '145735',
 '145753',
 '145914',
 '145942io20456',
 '146',
 '14605',
 '14672',
 '14691229',
 '147',
 '147196',
 '1473',
 '14745',
 '148',
 '14817',
 '1483600108',
 '1483600109',
 '1485',
 '14853',
 '149',
 '14992',
 '14apr199316550695',
 '14th',
 '15',
 '150',
 '1500',
 '150058',
 '15033',
 '150800',
 '150904',
 '151',
 '151050',
 '151202',
 '15140',
 '15142',
 '15148',
 '15150',
 '151502',
 '15151474',
 '151753',
 '15177',
 '151834',
 '15196',
 '152',
 '15209',
 '1521',
 '15210',
 '15213',
 '15216',
 '15218',
 '15225',
 '15230',
 '15232',
 '152336',
 '15236',
 '15238',
 '152634',
 '15283',
 '153',
 '15307',
 '15313',
 '153137',
 '15320',
 '15325',
 '153407',
 '153450',
 '153725',
 '15377',
 '15378',
 '1539',
 '154',
 '15407',
 '15409',
 '15413',
 '15416',
 '154232',
 '154256',
 '15427',
 '15430',
 '15436',
 '15437',
 '15440',
 '15441',
 '15442',
 '15445',
 '15446',
 '15450',
 '15454',
 '154542',
 '15464',
 '15467',
 '154706',
 '15480',
 '155',
 '15501',
 '15511',
 '15557',
 '155955',
 '15627',
 '15639',
 '1564',
 '157',
 '15709',
 '15723',
 '1575',
 '1576',
 '15780004',
 '158',
 '1580',
 '15825',
 '1585',
 '1588',
 '159',
 '15959',
 '15978',
 '15apr199303031064',
 '15apr199312304021',
 '15apr199320293386',
 '15apr93',
 '15s',
 '15th',
 '16',
 '160',
 '160030',
 '16010',
 '160316',
 '160447',
 '160493090617',
 '160493111229',
 '160532',
 '1608',
 '161',
 '16116',
 '16128',
 '161551',
 '161720',
 '161730',
 '161946',
 '162',
 '16204',
 '162552',
 '162615',
 '162802',
 '16282',
 '1629',
 '163',
 '163712',
 '1638',
 '164',
 '164053',
 '16427',
 '1643',
 '16433',
 '164605',
 '164633',
 '164638',
 '164750',
 '164804',
 '164871',
 '164905',
 '164906',
 '16495',
 '165',
 '165122',
 '165139',
 '165155',
 '165206',
 '165218rvesterm',
 '165729',
 '165738',
 '16574',
 '165918',
 '166',
 '16613',
 '16619',
 '1665719586',
 '167',
 '168',
 '1682',
 '169',
 '1699',
 '16apr199317110543',
 '16apr199317391664',
 '16bb1b92b',
 '16bb1c589',
 '16bb713d1e',
 '16bb7a1de',
 '16bb87ef1',
 '16bb98b5a',
 '16billion',
 '16th',
 '17',
 '170',
 '1700',
 '1701',
 '170239',
 '170349',
 '170353',
 '170521',
 '170715',
 '170731',
 '171',
 '171354',
 '1715',
 '171548io20456',
 '17160985',
 '171819',
 '172',
 '172328',
 '172502',
 '172531',
 '172834io21087',
 '172841rvesterm',
 '172920',
 '173',
 '173130',
 '173236',
 '173252',
 '17331',
 '173428',
 '173432',
 '173500',
 '17391',
 '174',
 '17413',
 '174237',
 '1743',
 '174605',
 '174636',
 '174749',
 '174759',
 '174843',
 '175',
 '1751',
 '175131',
 '175312',
 '17543',
 '175545',
 '17577',
 '175829',
 '176',
 '17623',
 '177',
 '178',
 '17806',
 '1782',
 '17835',
 '1789',
 '17894',
 '179',
 '17986',
 '17i',
 '17th',
 '18',
 '180',
 '1800',
 '1800s',
 '18015',
 '18039',
 '18045',
 '1807',
 '180839',
 '181',
 '181131',
 '181245',
 '18191',
 '18197',
 '182',
 '1820',
 '18205',
 '182119',
 '182341',
 '182452',
 '1827',
 '182807',
 '182922',
 '182942',
 '183',
 '1830s',
 '1833',
 '183304',
 '18332',
 '183349',
 '18356',
 '18366',
 '183819',
 '18393',
 '184',
 '1840',
 '1841463321628',
 '184338',
 '184451rvesterm',
 '18457',
 '18469',
 '185',
 '1850',
 '185620nxm122',
 '185800',
 '185931',
 '185951',
 '185k',
 '186',
 '186042',
 '186209',
 '187',
 '18749',
 '188',
 '1880',
 '1883',
 '1888',
 '189',
 '18900',
 '18979',
 '18a',
 '18apr199314034390',
 '18apr199320091677',
 '18th',
 '19',
 '190',
 '1900',
 '190117rvesterm',
 '190141',
 '1903',
 '190341',
 '19043',
 '190534',
 '19058',
 '190735',
 '19101',
 '1912',
 '1914',
 '1915',
 '191538',
 '1916',
 '1917',
 '1919',
 '192',
 '1920',
 '192035',
 '1920s',
 '1922',
 '1923',
 '1925',
 '192508',
 '19272',
 '1928',
 '1929',
 '192905',
 '193',
 '1930',
 '193114',
 '1932',
 '1933',
 '1934',
 '193603',
 '193616',
 '1938',
 '1939',
 '194',
 '194025',
 '1940s',
 '194103',
 '1944',
 '1946',
 '1947',
 '1948',
 '1949',
 '195',
 '1950',
 '195139',
 '1952',
 '195216',
 '1953',
 '195301',
 '195452',
 '1955',
 '1957',
 '195730',
 '1958',
 '19584618',
 '1959',
 '195912',
 '196',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '19680',
 '1969',
 '197',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '198',
 '1980',
 '1980s',
 '1981',
 '19811',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '19860',
 '19861',
 '1987',
 '19872',
 '1988',
 '19880',
 '1989',
 '199',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1992jun25',
 '1993',
 '199304052036',
 '199304052150',
 '1993apr03',
 '1993apr06',
 '1993apr1',
 '1993apr10',
 '1993apr11',
 '1993apr12',
 '1993apr13',
 '1993apr14',
 '1993apr15',
 '1993apr16',
 '1993apr17',
 '1993apr18',
 '1993apr19',
 '1993apr2',
 '1993apr20',
 '1993apr21',
 '1993apr22',
 '1993apr23',
 '1993apr26',
 '1993apr3',
 '1993apr4',
 '1993apr5',
 '1993apr6',
 '1993apr8',
 '1993apr9',
 '1993mar18',
 '1993mar19',
 '1993mar20',
 '1993mar24',
 '1993mar29',
 '1993mar31',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19apr199319282297',
 '19n',
 '19th',
 '1__',
 '1_______1',
 '1a',
 '1a1',
 '1ah',
 '1b',
 '1cc',
 '1cl',
 '1d12',
 '1d17',
 '1d20',
 '1gig',
 '1hr',
 '1ht',
 '1pamhpinn7d3',
 '1phgakinn9pb',
 '1piisn',
 '1pklht',
 '1pkmo9inng7',
 '1pkvcl',
 '1plorlinnslt',
 '1ppi1ginng19',
 '1ppjruinnhnt',
 '1pprtvinnctl',
 '1pqf84',
 '1pqfbd',
 '1pqi26innl8j',
 '1pqiubinnmht',
 '1pqvusinnmjm',
 '1prvpu',
 '1ps77v',
 '1pserkinnltg',
 '1psf0dinnm4q',
 '1psgriinni1',
 '1psiepinnlj0',
 '1psmbr',
 '1pspp7inn3ea',
 '1psq90innh93',
 '1pt592',
 '1q4k3binne6k',
 '1q7sddinn5iq',
 '1qcdvbinn5ti',
 '1qd1sninnr79',
 '1qf2kqinnrkd',
 '1qgbljinnn4o',
 '1qhr73',
 '1qia48inngta',
 '1qjtmjinnq45',
 '1qkkodinn5f5',
 '1qkl3i',
 '1qkq0q',
 '1qksa4inni7m',
 '1qksooinnihu',
 '1ql6bginnklu',
 '1ql7tuinn8j8',
 '1ql93binn1s5',
 '1qlnkninn2sh',
 '1qmj6h',
 '1qmrciinnoin',
 '1qmtl1',
 '1qn252innot4',
 '1qn6tqinnmnf',
 '1qp1m9innfjg',
 '1qpakjinniq2',
 '1qpaujinnecq',
 ...]

In [31]:
# Show sparse matrix as DataFrame. (.toarray())
pd.DataFrame(X_train_processed.toarray(), 
             columns=count_vec.get_feature_names())

,00,000,000007,0000ahc,000k,000th,001,0010,001116,001211,...,zoologists,zoology,zorba,zot,zumwalt,zupcic,zz,zzzzzz,zzzzzzt,ñaustin
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1322,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1323,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1324,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1325,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
X_train_processed

<1326x23135 sparse matrix of type '<class 'numpy.int64'>'
	with 226455 stored elements in Compressed Sparse Row format>

In [35]:
X_train_processed.toarray()#.shape

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [36]:
# Build a Gaussian Naive Bayes model.
nb = GaussianNB()

nb.fit(X_train_processed.toarray(), y_train)

GaussianNB()

In [37]:
# Make predictions and show scores.
y_pred_train = nb.predict(X_train_processed.toarray())
y_pred_test = nb.predict(X_test_processed.toarray())

In [38]:
from sklearn.metrics import classification_report

In [39]:
print(classification_report(y_train, y_pred_train))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       733
           1       1.00      1.00      1.00       593

    accuracy                           1.00      1326
   macro avg       1.00      1.00      1.00      1326
weighted avg       1.00      1.00      1.00      1326

In [40]:
print(classification_report(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       1.00      0.97      0.98       261
           1       0.96      0.99      0.98       182

    accuracy                           0.98       443
   macro avg       0.98      0.98      0.98       443
weighted avg       0.98      0.98      0.98       443

In [41]:
# How can we look at predictions where the classification was incorrect?
# put them both in a df as 2 cols, filter out where they don't match
df = pd.DataFrame()
df['Actual'] = y_test
df['Pred'] = y_pred_test
df

      Actual  Pred
702        0     0
1255       0     0
1740       0     0
400        0     0
579        0     0
...      ...   ...
1655       1     1
682        0     1
1107       1     1
1427       1     1
396        1     1

[443 rows x 2 columns]

In [42]:
index_list_of_wrong_preds = (
    df
    .loc[df['Actual'] != df['Pred']]
    .index
)
index_list_of_wrong_preds

Int64Index([154, 824, 561, 791, 517, 257, 1121, 1033, 682], dtype='int64')

In [44]:
(df.loc[df['Actual'] != df['Pred']])

      Actual  Pred
154        0     1
824        1     0
561        0     1
791        0     1
517        0     1
257        0     1
1121       0     1
1033       0     1
682        0     1

In [43]:
X_test[index_list_of_wrong_preds].values[:2]

array(['subject: chris webber chokes\nfrom: krueger@argon.gas.uug.arizona.edu (theodore r krueger)\norganization: university of arizona, tucson\nlines: 11\n\nafter the marvelous "time-out" call by chris webber (which resulted in \na technical foul, since his team had no time-outs left) perhaps webber \nwill take the place of bill buckner as the master of choke.  at least \nthis red sox fan hopes so.\n\nted\n\n--\nwhen chelsea clinton\'s secret service agent had to be replaced by an active \nduty soldier she objected on the grounds that her family dislikes the military.\n\t\t----- krueger@gas.uug.arizona.edu -----\n',
       "from: jmann@vineland.pubs.stratus.com (jim mann)\nsubject: re: celebrate liberty!  1993\norganization: stratus computer inc, marlboro ma\nlines: 12\nreply-to: jmann@vineland.pubs.stratus.com\nnntp-posting-host: gondolin.pubs.stratus.com\n\nin article <1993apr5.201051.15818@dsd.es.com>  \nbob.waldrop@f418.n104.z1.fidonet.org (bob waldrop) writes:\n\nwhat did this have to do with sf?  and please don't answer\nthat a number of libertarians are sf fans or vice versa. i know a \nnumber of sf fans who are also baseball fans but i don't plan on \nposting the red sox schedule.\n\n--\njim mann            \nstratus computer   jmann@vineland.pubs.stratus.com  \n\n"],
      dtype=object)

<a id='logreg'></a>
## Train KNN Model

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [46]:
# Let's compare with a KNN model!
knn = KNeighborsClassifier()
knn.fit(X_train_processed, y_train)

KNeighborsClassifier()

In [47]:
X_pred_train_knn = knn.predict(X_train_processed)
X_pred_test_knn = knn.predict(X_test_processed)

In [48]:
print(classification_report(y_train, X_pred_train_knn))
print(classification_report(y_test, X_pred_test_knn))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94       733
           1       0.97      0.86      0.91       593

    accuracy                           0.93      1326
   macro avg       0.93      0.92      0.92      1326
weighted avg       0.93      0.93      0.92      1326

              precision    recall  f1-score   support

           0       0.86      0.97      0.91       261
           1       0.94      0.77      0.85       182

    accuracy                           0.88       443
   macro avg       0.90      0.87      0.88       443
weighted avg       0.89      0.88      0.88       443

# Assumptions / Pros-Cons
## Assumptions
- Features are independent.

## Pros
- Performs very well with categorical variables (OHE).
- Very fast training time.
    - Can handle large datasets well.
- Good when there are many features.
- Robust to outliers.

## Cons
- Correlated features negatively impact performance.


# Example Use Cases
- Sentiment Analysis
- Document Classification
    - Spam Filtering